@import "tailwindcss";

@theme inline {
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;

  /* Dark background */
  --color-background: #f8fafc; /* Tailwind's slate-900 */
  --color-text: #0f172a;       /* Tailwind's slate-50 */
}

/* Apply background and text color globally */
@layer base {
  html {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-display);
  }
  body {
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
}
